/* @import "animal.css"; */

:root {
  --color-verde-animal: rgba(59,140,39,1);
  --color-marron-animal: rgba(97,50,8,1);
  --color-chocolate-animal: rgba(55,41,41,1);
  --color-mostaza-animal: rgba(177,149,2,1);
  --color-rosa-animal: rgba(228,180,160,1);
  --color-gris-animal: rgba(177,166,144,1);
  --color-blanco-ui-animal: rgba(255,255,255,1);
  --color-fondo-1-animal: rgba(222,231,238,1);
  --color-figura-1-animal: rgba(184,197,208,1);
  --color-destaque-animal: rgba(109,119,126,1);
  --color-celeste-ui-animal: rgba(186,218,242,1);
  --color-naranja-ui-animal: rgba(255,120,9,1);
  --color-verde-ui-animal: rgba(94,194,10,1);
  --color-rojo-ui-animal: rgba(229,76,76,1);
  --color-fondo-mostaza-animal: rgba(199,179,79,1);
  --color-fondo-aqua-animal: rgba(183,226,208,1);
  --color-fondo-rosa-animal: rgba(255,221,207,1);
  --color-fondo-verde-animal: rgba(188,246,93,1);
  --color-fondo-negro-animal: rgba(62,2,2,1);
  }

  /* ---------------------------------------------- */
  /* Color & opacity */



.kit-preview:hover {
    filter:invert(0)!important;
    background-color: var(--color-verde-ui-animal);
  }

 .instrument-preview:hover {
    filter:invert(0)!important;
    background-color: var(--color-verde-ui-animal);
  }


  .verde-animal {
    background-color: var(--color-verde-animal);
  }
  .marron-animal {
    background-color: var(--color-marron-animal);
  }
  .chocolate-animal {
    background-color: var(--color-chocolate-animal);
  }
  .mostaza-animal {
    background-color: var(--color-mostaza-animal);
  }
  .rosa-animal {
    background-color: var(--color-rosa-animal);
  }
  .gris-animal {
    background-color: var(--color-gris-animal);
  }
  .fondo-1-animal {
    background-color: var(--color-fondo-1-animal);
  }
  .figura-1-animal {
    background-color: var(--color-figura-1-animal);
  }
  .destaque-animal {
    background-color: var(--color-destaque-animal);
  }
  .naranja-ui-animal {
    background-color: var(--color-naranja-ui-animal);
  }
  .verde-ui-animal {
    background-color: var(--color-verde-ui-animal);
  }
  .blanco-ui-animal {
    background-color: var(--color-blanco-ui-animal);
  }
  .rojo-ui-animal {
    background-color: var(--color-rojo-ui-animal);
  }
  .negro-ui-animal{
    background-color: var(--color-negro-ui-animal);
  }
  .fondo-mostaza-animal {
    background-color: var(--color-fondo-mostaza-animal);
  }
  .fondo-aqua-animal {
    background-color: var(--color-fondo-aqua-animal);
  }
  .fondo-rosa-animal {
    background-color: var(--color-fondo-rosa-animal);
  }
  .fondo-verde-animal {
    background-color: var(--color-fondo-verde-animal);
  }
  .fondo-negro-animal {
    background-color: var(--color-fondo-negro-animal);
  }


  .opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }

  body {
    background-color: #BCF65D;
  }

  #Hero {
    background-color: #B7E2D0;
  }



  /* ---------------------------------------------- */
  /* Type */


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--color-chocolate-animal);
}
html {
  font-size: 14px;

  @media screen and (min-width: 900px) {
    font-size: 15px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}


strong {
    font-weight: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5rem;

}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#phrase h3{
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}


.title{
  font-size: 2.2rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5rem;
}

.sub_title{
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1rem;
  display:none;
}

.lead {
  font-size: 1.125rem;
}

.texto-chico{
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1rem;
}

.texto-normal{
  font-size: 1rem;
  line-height: 0.5rem;
}

.numero-animal{
  font-size: 1.5rem;
  line-height: 1rem;
}

  /* --------------------------------------------- */
  /* Corners & special `margins` */

#Header{
    height:65px;
}

  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .jumbotron {
    padding-top:64px;
  }

  .position-lt {
    position: absolute;
    top: 0;
    left: 0;
  }
  .position-rt {
    position: absolute;
    top: 0;
    right: 0;
  }
  .position-lm {
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    position: absolute;
    left: 0;
  }
  .position-lb {
    position: absolute;
    bottom:0;
    left: 0;
  }
  .position-b {
    position: absolute;
    bottom: 0;
  }
  .shift-l-200 {
    left:-200px;
  }
  .shift-l-100 {
    left:-100px;
  }
  .shift-l-50 {
    left:-50px;
  }
  .shift-r-200 {
    left:-200px;
  }
  .corners1{
    border-radius: 15px;
  }
  .corners-2{
    border-radius: 10px;
  }
  .corners-l{
      border-radius: 15px 0 0 15px;
  }
  .corners-r{
      border-radius: 0 15px 15px 0;
  }

  #ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8{
    margin:3px;
  }

  #messages {
    list-style-type: none;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  #bpm-display, #swing-display {
    border-left:2px solid;
    border-color: var(--color-fondo-1-animal);
  }

  #jam-sesion a{
    padding-top:12px;
    color: var(--color-chocolate-animal);
    text-decoration: none !important;
  }

  /* --------------------------------------------- */
  /* Extra NexusUI */

  .mom_dial{
    width:40px !important;
    height:40px !important;
  }

  .dial_container {
     content: '';
     display: inline-block;
     width: 44px;
     height: 44px;
     padding: 2px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background-color: var(--color-blanco-ui-animal);
  }
  .grid-size {
    width:100%;
    height:auto;
  }


  /* --------------------------------------------- */
  /* Instruments */


  .instrumento-animal{
    width:auto;
    height:100px;
  }
  #buhoInst .instrumento-animal{
    background-image: url("img/animal-sm_buho-tx.jpg");
    background-size: cover;
    background-position: center;
  }
  #osoInst .instrumento-animal{
    background-image: url("img/animal-sm_oso-tx.jpg");
    background-size: cover;
    background-position: center;
  }
  #gatoInst .instrumento-animal{
    background-image: url("img/animal-sm_gato-tx.jpg");
    background-size: cover;
    background-position: center;
  }
  #sapoInst .instrumento-animal{
    background-image: url("img/animal-sm_sapo-tx.jpg");
    background-size: cover;
    background-position: center;
  }
  #patoInst .instrumento-animal{
    background-image: url("img/animal-sm_pato-tx.jpg");
    background-size: cover;
    background-position: center;
  }
  #monoInst .instrumento-animal{
    background-image: url("img/animal-sm_mono-tx.jpg");
    background-size: cover;
    background-position: center;
  }
  #loroInst .instrumento-animal{
    background-image: url("img/animal-sm_loro-tx.jpg");
    background-size: cover;
    background-position: left,top;
  }
  #cerdoInst .instrumento-animal{
    background-image: url("img/animal-sm_cerdo-tx.jpg");
    background-size: cover;
    background-position: center;
  }


  /* --------------------------------------------- */
  /* Audio cables */

  #svgContainer {
    z-index: -10;
    position:absolute;
    opacity: 1;
  }

  #inlet1, #inlet2, #inlet3, #inlet4, #inlet5, #inlet6, #inlet7, #inlet8 {
    width:30px;
    height: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: 15px;
    margin-top: 30px;
    background-color: var(--color-destaque-animal);
  }

  #in1, #in2, #in3, #in4, #in5, #in6, #in7, #in8 {
    width:20px;
    height: 7px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    margin-left: 10px;
    background-color: var(--color-destaque-animal);
  }
  #out1, #out2, #out3, #out4, #out5, #out6, #out7, #out8 {
    width:20px;
    height: 7px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    margin-left: 20px;
    background-color: var(--color-destaque-animal);
  }

  /* --------------------------------------------- */
  /* Buttons & icons */

.modal-header .close {
}
#Animal_logo{
  height:65px;
}
#playModal .close{
    background-color: var(--color-blanco-ui-animal);
    opacity: 1;
    color: var(--color-figura-1-animal);
}
  .btn-group-lg>.btn, .btn-lg, .btn {
    border-radius: 15px;
  }
  .btn-primary {
    color: var(--color-chocolate-animal);
    background-color: var(--color-blanco-ui-animal);
    border-color: var(--color-blanco-ui-animal);
  }
.btn-primary:hover {
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-naranja-ui-animal);
    border-color: var(--color-naranja-ui-animal);
}
  .btn-secondary{
    background-color: var(--color-figura-1-animal);
    border:none;
  }
  .audiopre {
    cursor: pointer;
  }
  .animal-btn{
    width:44px;
    height:44px;
    border-radius:50px;
    background-color: var(--color-figura-1-animal)
  }
  #izq {
    height:210px;
  }
  #chat-animal{
    height:100%;
  }
  #controles {
    height:100%;
  }
  .custom-height {
    height: 50%;
  }
#chat-animal div{
    height: 209px;
}

  #rec-btn {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:50%;
  }
  .mute-btn {
      color: var(--color-chocolate-animal);
      background-color: var(--color-blanco-ui-animal);
  }
  .mute-btn-activo, .jam-btn-activo {
    -webkit-animation:blinkingMuteJam 1.2s infinite;
    animation:blinkingMuteJam 1.2s infinite;
  }
  .rec-btn-activo {
    -webkit-animation:blinkingRec 1.2s infinite;
    animation:blinkingRec 1.2s infinite;
  }

.jam-btn:hover {
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-verde-ui-animal);
}
#help-btn:hover{
   color: var(--color-figura-1-animal);
   background-color: var(--color-blanco-ui-animal);
}
  #mute-btn{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height:50%;
  }
  .mute-btn:hover {
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-verde-ui-animal);
  }
  #rec-btn:hover {
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-rojo-ui-animal);
  }
  #increment-swing-btn:hover, #increment-bpm-btn:hover, #decrement-swing-btn:hover, #decrement-bpm-btn:hover{
    background-color:var(--color-figura-1-animal)!important;
  }
  #decrement-bpm-btn {
    border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    border-bottom: 1px solid var(--color-fondo-1-animal);
  }
  #increment-bpm-btn {
    border-bottom: 1px solid var(--color-fondo-1-animal);
  }
  #decrement-swing-btn {
    border-bottom-left-radius: 15px;
    border-top: 1px solid var(--color-fondo-1-animal);
  }
  #increment-swing-btn {
    border-top: 1px solid var(--color-fondo-1-animal);
  }

  #ch_control object, #instrumentos object, #sel-inst object{
    background-color: #000;
    filter:invert(1) opacity(.25);
  }

.animal-pointer{
    cursor: pointer;
}

  #icono-ch8.activado{
    content: url(img/cerdo_activo.png);
  }
  #icono-ch7.activado{
    content: url(img/loro_activo.png);
  }
  #icono-ch6.activado{
    content: url(img/sapo_activo.png);
  }
  #icono-ch5.activado{
    content: url(img/pato_activo.png);
  }
  #icono-ch4.activado{
    content: url(img/mono_activo.png);
  }
  #icono-ch3.activado{
    content: url(img/gato_activo.png);
  }
  #icono-ch2.activado{
    content: url(img/oso_activo.png);
  }
  #icono-ch1.activado{
    content: url(img/buho_activo.png);
  }



  .audio-preview, .loro-rec {
    width: 44px;
    height: 44px;
    background-color: var(--color-figura-1-animal);

  }
  .animal-icon, .jam-btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-blanco-ui-animal);
      border: none;
  }
  .help-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-figura-1-animal);
      border: none;
  }
  #help-btn {
    padding-top:12px;
  }
  .animal-icon-s{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-blanco-ui-animal);
      border: none;
  }
  .audio-preview-s {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: var(--color-blanco-ui-animal);
    background-image: url(/GUI/img/audio_trans.png);
  }
  #settingsModal .audio-preview-s {
    margin-left: 5px;
    margin-top: 4px;
  }
  .icon-container-s, .audio-preview-container-s {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: var(--color-blanco-ui-animal);
    border: 3px solid;
    border-color: var(--color-blanco-ui-animal);
  }
  .icon-container-s:hover {
    border-color: var(--color-naranja-ui-animal);
  }
  #audio-preview:hover {
    filter:invert(0)!important;
    background-color: var(--color-verde-ui-animal);
  }
  #loro-rec {
    display: none;
  }
.rec-icon-s-b{
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 2px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--color-blanco-ui-animal);
    background-color: var(--color-rojo-ui-animal);
}
.rec-icon-s-b:hover{
    text-decoration: none;
    border-color: var(--color-rojo-ui-animal);
}
  .rec-icon-s{
    color: var(--color-chocolate-animal)
    text-decoration: none;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 2px;
    border-radius: 50%;
    border: 3px solid;
    border-color: var(--color-blanco-ui-animal);
    background-color: var(--color-blanco-ui-animal);
  }
.rec-icon-s-activo{
    text-decoration:none;
    -webkit-animation:blinkingloroRec 1.2s infinite;
    animation:blinkingloroRec 1.2s infinite;
}
.rec-icon-s:hover {
    color: var(--color-blanco-ui-animal);
    text-decoration: none;
    border: 3px solid;
    border-color: var(--color-rojo-ui-animal);
    background-color: var(--color-rojo-ui-animal);
}

  .color-chip-1{
    width:44px;
    height:44px;
    border-radius:50px;
    background-color: var(--color-fondo-mostaza-animal)
  }
  .color-chip-2{
    width:44px;
    height:44px;
    border-radius:50px;
    background-color: var(--color-fondo-aqua-animal)
  }
  .color-chip-3{
    width:44px;
    height:44px;
    border-radius:50px;
    background-color: var(--color-fondo-rosa-animal)
  }
  .color-chip-4{
    width:44px;
    height:44px;
    border-radius:50px;
    background-color: var(--color-fondo-verde-animal)
  }
  .color-chip-5{
    width:44px;
    height:44px;
    border-radius:50px;
    background-color: var(--color-fondo-negro-animal)
  }




  .solo-ch8 {
    filter:invert(0)!important;
    background-color: var(--color-gris-animal);
  }


  .animal-icon path{
    background-color: var(--color-naranja-ui-animal);
  }

  .animal-border{
    border-style: solid;
    border-width: 5px;
  }


  /* --------------------------------------------- */
  /* Windows como popovers y modals */


.modal-content {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .modal-header, .modal-footer {
    border: none;
    display:block;
  }
  .modal-header .close{
    float: none;
    margin-left:0;
    margin-top:5px;
    padding:0;
    font-size: 2rem;
    font-weight: 100;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--color-fondo-1-animal);
  }

.instrumentos-help-item, .sel-ins-help-item, .chat-help-item, .jam-sesion-help-item, .canal-help-item, .solo-help-item, .play-start-item {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popover{
    padding: 5px;
    font-family: 'Poppins', sans-serif !important;
    max-width:175px;
}
.popover-header{
    background-color: transparent;
    border: none;
    font-size: 1.125rem;
    font-weight: 200;
    padding-bottom: 0;
    padding-top: 10px;
}


.play-start-item .popover-body{
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-rojo-ui-animal);
    border-radius: 0 0 10px 10px;
}
.play-start-item .popover-header{
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-rojo-ui-animal);
    border-radius: 10px 10px 0 0;
}
.jam-sesion-help-item .popover-body{
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-verde-ui-animal);
    border-radius: 0 0 10px 10px;
}
.jam-sesion-help-item .popover-header{
    color: var(--color-blanco-ui-animal);
    background-color: var(--color-verde-ui-animal);
    border-radius: 10px 10px 0 0;
}

.instrumentos-help-item, .canal-help-item {
  display:none;
}
.sel-ins-help-item, .solo-help-item {
  display:block;
}

  /* --------------------------------------------- */
  /* Animation & transitions */

  @keyframes blinkingRec{
    0%{     background-color:var(--color-rojo-ui-animal);}
    35%{    background-color:var(--color-rojo-ui-animal);}
    85%{    color:var(--color-blanco-ui-animal);}
  }
  @webkit-keyframes blinkingRec{
    0%{     background-color:var(--color-rojo-ui-animal);}
    35%{    background-color:var(--color-rojo-ui-animal);}
    85%{    color:var(--color-blanco-ui-animal);}
  }
  @keyframes blinkingMuteJam{
    0%{     background-color:var(--color-verde-ui-animal);}
    35%{    background-color:var(--color-verde-ui-animal);}
  }
  @webkit-keyframes blinkingMuteJam{
    0%{     background-color:var(--color-verde-ui-animal);}
    35%{    background-color:var(--color-verde-ui-animal);}
  }

  @keyframes blinkingloroRec{
    0%{     background-color:var(--color-blanco-ui-animal);}
    35%{    background-color:var(--color-blanco-ui-animal);}
    85%{    color:var(--color-blanco-ui-animal);}
  }
  @webkit-keyframes blinkingloroRec{
    0%{     background-color:var(--color-blanco-ui-animal);}
    35%{    background-color:var(--color-blanco-ui-animal);}
    85%{    color:var(--color-blanco-ui-animal);}
  }

  /* --------------------------------------------- */
  /* Display */




  #bpm-display{
    border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    border-bottom: 1px solid var(--color-fondo-1-animal);
  }
  #swing-display{
    border-bottom-right-radius: 15px;
    border-top: 1px solid var(--color-fondo-1-animal);
  }

  .fondo-1 {
    background: url('img/landing/fondo-outlines.png') no-repeat center center fixed;
    background-color: var(--color-destaque-animal);
  }

#messages li p{
    clear: left;
}

.interloc-B, .interloc-O, .interloc-P, .interloc-G, .interloc-M, .interloc-S, .interloc-L, .interloc-C {
    margin-right: 2px;
    font-weight: 600;
    float: left;
    border-radius: 50%;
    padding: 3px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    color: var(--color-blanco-ui-animal);
}

.interloc-B {
    background-color: var(--color-gris-animal);
}
.interloc-O {
    background-color: var(--color-chocolate-animal);
}
.interloc-P {
    background-color: var(--color-mostaza-animal);
}
.interloc-G {
    background-color: var(--color-gris-animal);
}
.interloc-M {
    background-color: var(--color-marron-animal);
}
.interloc-S {
    background-color: var(--color-verde-animal);
}
.interloc-L {
    background-color: var(--color-verde-animal);
}
.interloc-C {
    background-color: var(--color-rosa-animal);
}



  /* --------------------------------------------- */
  /* Breakpoints */



  #alerta{
    height:100vh;
  }


  /* Small devices (landscape phones, 576px and up) */

  @media (min-width: 576px) {
    body {
      background-color: var(--color-fondo-mostaza-animal);
    }
      #MoM_logo{
          color: var(--color-chocolate-animal);
      }
    #bajada {
      border-right: 1px solid white;
    }
    #rec-btn {
      border-bottom: 1px solid var(--color-fondo-1-animal);
    }
    #mute-btn {
      border-top: 1px solid var(--color-fondo-1-animal);
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    body {
      background-color: var(--color-fondo-aqua-animal);
    }
    #alerta{
      display:none;
    }
    #bienvenida {
      border-right: 1px solid white;
    }
  }


  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    body {
      background-color: var(--color-fondo-negro-animal);
    }
      #MoM_logo{
          color: var(--color-blanco-ui-animal);
      }
    #izq {
      height:auto;
    }
    #chat-animal{
      height:65%;
    }
    #controles {
      height:35%;
    }
    #chat-animal div {
        height: 330px;
    }
    .custom-height {
      height: 100%;
    }

    #rec-btn {
      border-top-right-radius: 0;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-bottom: none;
      border-right: 1px solid var(--color-fondo-1-animal);
      height: 100%;
    }
    #mute-btn{
      border-top: none;
    }

    #mute-btn {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 0;
      border-left: 1px solid var(--color-fondo-1-animal);
      height: 100%;
    }

    .instrumentos-help-item, .canal-help-item {
      display:block;
    }
    .sel-ins-help-item, .solo-help-item {
      display:none;
    }

  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    body {
      background-color: var(--color-fondo-rosa-animal);
    }
      #MoM_logo{
          color: var(--color-chocolate-animal);
      }
    #chat-animal{
      height:60%;
    }
    #controles {
      height:40%;
    }
    #chat-animal div {
        height: 254px;
    }
  }
